# dependencies
/node_modules

# next.js
/.next/
/.next-test/
/out/
next-env.d.ts
*.tsbuildinfo

# testing
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# env
.env*.local

# misc
.DS_Store
*.pem
npm-debug.log*
.vercel
